.holeDetails {
    padding-top: 10px;
    height:70px;
}
.yardsRemaining {
    font-size: 100px;;
    padding:20px;
    text-align:center;

}

.golfStrokeTracker {
 padding-bottom: 40px;
}

.bg-blue-500{
height: 70px}